<!DOCTYPE html>
<html lang="en" ng-app="docs">
  <head>
    <% if (data.data && data.data.info) { %>
      <title><%= data.data.info.title() %> - Deployd</title>
    <% } else { %>
      <title>Deployd Docs</title>
    <% } %>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css'>
    <%- script('libs/angular') %>
    <%- script('libs/angular-sanitize') %>
    <%- script('libs/jquery-1.8.2') %>
    <%- script('libs/bootstrap') %>
    <%- script('libs/jquery.highlight') %>
    <%- script('libs/jquery.masonry') %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27539606-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <%
  function active(page, data) {
    if(~data.url.indexOf('/' + page)) return 'active';
    return '';
  }
  %>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/#home">deployd docs</a>
          <ul class="nav">
            <li class="<%= active('guides', data) %>" ><a href="/guides">Guides</a></li>
            <li class="<%= active('api', data) %>"><a href="/api">APIs</a></li>
            <li class="<%= active('examples', data) %>"><a href="/examples">Examples</a></li>
            <li class="<%= active('modules', data) %>"><a href="/modules">Modules</a></li>
          </ul>
          <%- partial('search', {info: data.info}) %>
        </div>
      </div>
    </div>
    <div class="container">
      <%- body %>
    </div>
    <%- script('app') %>
  </body>
</html>