<!DOCTYPE html>
<html lang="en" ng-app="docs">
  <head>
    <% if (data.data && data.data.info) { %>
      <title><%= data.data.info.title() %> - Deployd Docs</title>
    <% } else { %>
      <title>deployd</title>
    <% } %>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css'>
    <link href="/stylesheets/prettify.css" rel='stylesheet' type='text/css'>
    <%- script('libs/angular') %>
    <%- script('libs/angular-sanitize') %>
    <%- script('libs/jquery-1.8.2') %>
    <%- script('libs/bootstrap') %>
    <%- script('libs/jquery.highlight') %>
    <%- script('libs/jquery.masonry') %>
    <%- script('libs/prettify') %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27539606-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <%
  function active(page, data) {
    if(page === data.url) return 'active';
    if(~data.url.indexOf('/' + page)) return 'active';
    return '';
  }
  %>

  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="//deployd.com">
            <img src="//deployd.com/img/logo-text.png">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <!--<li><a href="//cloud.deployd.com">cloud</a></li>-->
              <li class="active"><a href="//docs.deployd.com">docs</a></li>
              <li><a href="https://groups.google.com/forum/?fromgroups#!forum/deployd-users">community</a></li>
              <!--li><a href="//deployd.com/blog.html">blog</a></li-->
            </ul>
          </div><!--/.nav-collapse -->

          <%- partial('search', {info: data.info}) %>

          <div id="social" class="nav-collapse pull-left">
            <ul class="nav">
              <li><iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1354270846.html#_=1354747685285&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fdeployd.com%2F&amp;size=m&amp;text=Deployd%20Platform%20(%40deploydapp)%20-%20The%20simplest%20way%20to%20build%20APIs.&amp;url=http%3A%2F%2Fwww.deployd.com" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
      <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-static-top secondary-nav">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="<%= active('home', data) %>"><a href="/">home</a></li>
            <li class="<%= active('guides', data) %>" ><a href="/guides">guides</a></li>
            <li class="<%= active('api', data) %>"><a href="/api">api</a></li>
            <li class="<%= active('examples', data) %>"><a href="/examples">examples</a></li>
            <li class="<%= active('modules', data) %>"><a href="/modules">modules</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%- body %>
    </div>
    <%
      var rootChildren = app.index.root().children(true);
    %>
    <div class="docs-nav">
      <div class="container">
        <div class="row">
          <div class="span3">
            <h3>Guides</h3>
            <ul class="nav nav-list">
              <% rootChildren.forEach(function (c) { %>
                <li><a href="<%= c.url() %>"><%= c.title() %></a></li>
              <% }) %>
            </ul>
          </div>
          <div class="span3">
            <h3>APIs</h3>
            <ul class="nav nav-list">
              <% app.index.root().subReferences().forEach(function (c) { %>
                <li class="nav-header"><a href="<%= c.url() %>"><%= c.parent().title() %></a></li>
                <% c.children().forEach(function (cc) { %>
                  <li><a href="<%= cc.url() %>"><%= cc.title() %></a></li>
                <% }) %>
              <% }) %>
            </ul>
          </div>
          <div class="span3">
            <h3>Examples</h3>
            <ul class="nav nav-list">
              <% rootChildren.forEach(function (c) {
                var examples = c.examples();
                if(!examples || !examples.length) return; %>
                <li class="nav-header"><a href="<%= c.url() %>"><%= c.title() %></a></li>
                <% examples.forEach(function (ex) { %>
                  <li><a href="<%= c.parent().url() %>"><%= ex.title() %></a></li>
                <% }) %>
              <% }) %>
            </ul>
          </div>
          <div class="span3">
            <div id="feedback">
              <h3>Feedback</h3>
              <p>Let us know if you have any ideas to improve our docs. Open an <a href="https://github.com/deployd/docs/issues">issue on github</a>, <a href="mailto: hello@deployd.com">send us an email</a>, or <a href="https://twitter.com/deploydapp">tweet us</a>.</p>
            </div>
            <div id="download">
              <h3>Edit or Download these Docs</h3>
              <p>This entire site, including documentation written in markdown is <a href="https://github.com/deployd/docs">available on github</a>. Pull requests are appreciated!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span navigation">
            <dl>
              <dt><img src="//deployd.com/img/footer-dt.png" alt="deployd"></dt>
              <dd><a href="http://deployd.com/">Home</a></dd>
              <dd><a href="http://deployd.com/video.html">Screencast</a></dd>
              <dd><a href="http://deployd.com/features.html">Features</a></dd>
              <dd><a href="https://github.com/deployd/deployd/issues">Support</a></dd>
            </dl>
            <dl>
              <dt>documentation</dt>
              <dd><a href="http://docs.deployd.com/guides">Guides</a></dd>
              <dd><a href="http://docs.deployd.com/api">API</a></dd>
              <dd><a href="http://docs.deployd.com/examples">Examples</a></dd>
              <dd><a href="http://docs.deployd.com/modules">Modules</a></dd>
            </dl>
            <dl>
              <dt>community</dt>
              <dd><a href="http://deployd.com/community.html">Questions</a></dd>
              <dd><a href="https://twitter.com/deploydapp">Tweets</a></dd>
              <dd><a href="https://github.com/deployd/deployd/issues">Issues</a></dd>
              <dd><a href="https://github.com/deployd/deployd">Github</a></dd>
            </dl>
            <dl>
              <dt>contact</dt>
              <dd><a href="mailto:hello@deployd.com">hello@deployd.com</a></dd>
            </dl>
          </div>
          <div class="span logo-container">
            <div class="logo">
              <img src="//deployd.com/img/footer-logo.png" alt="deployd">
            </div>
          </div>
          <div class="span email-container">
            <dl id="mc_embed_signup" class="span4">
            <dt>Get deployd emails</dt>
            <dd>
              <form action="http://deployd.us2.list-manage.com/subscribe/post?u=4f1b944ba8c90738eb8e3fa3c&amp;id=7bb18e6b80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-vertical" target="_blank" novalidate="">
              <div class="mc-field-group">
                <input type="email" placeholder="your@email" value="" name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </form>
            </dd>
          </dl>
          </div>
        </div>
      </div>
    </footer>
    <%- script('app') %>
  </body>
</html>
