<div id="bar" data-spy="affix">
  <%- partial('search', data) %>
  <ul id="breadcrumb" class="unstyled">
    <li>Search Results</li>
  </ul>
</div>

<% if(data.results.length) { %> 
  <div id="search-results" class="row">
    <% data.results.forEach(function () {
      <% if(r.reference) { %>
        <li class="reference-result">
          <h5 class="ref-title">
            <a href="<%= r.section.url() %>">
              <%= r.section.title %> (<%= r.score %>)
            </a>
          </h5>
          <div class="example">
            <%- r.section.exampleHtml() %>
          </div>
        </li>
      <% } else {
        <li class="result">
          <h5 class="result-title">
          <a href="<%= r.section.url(data.q) %>">
            <% var ptitle = r.section.parent && r.section.parent.title;
            if(ptitle) { %>
              <%= ptitle %> -
            <% } %>
            <%= r.section.title %>
            (<%= r.score %>)
          </a>
          </h5>
          <% if(r.preview) {%>
            <div class="result-preview">
              <%- r.preview %>
            </div>
          <% } %>
        </li>  
      <% } %>
    <% }) %>
  </div>
<% } else { %>
  <div id="no-results">
    <p>Your search - <%= data.q %> - did not match any documents.<p>

    <strong>Suggestions:</strong>

    <ul>
      <li>Make sure all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
      <li>Try fewer keywords.</li>
    </ul>
      
  </div>
<% } %>