<ul id="breadcrumb" class="unstyled">
  <li><a href="/">Docs</a> <span>/</span></li>
  <li>Search Results&nbsp;<span>-</span>&nbsp;<strong>"<%= data.q %>"</strong></li>
</ul>

<% if(data.results.length) { %> 
  <ul id="search-results" class="row unstyled">
    <% data.results.forEach(function (r) { %>
      <% if(r.section.api) { %>
        <li class="result api-result">
          
          <h3 class="api-title">
            <a href="<%= r.section.url() %>">
              <%= r.section.title %>
            </a>
            <em class="api-parent">- <%= r.section.info.title() %></em>
          </h3>
          <div class="example">
            <%- r.section.exampleHtml() %>
          </div>
        </li>
      <% } else { %>
        <li class="result">
          <h4 class="result-title">
          <a href="<%= r.section.url(data.q) %>">
            <% var ptitle = r.section.parent && r.section.parent.title;
            if(ptitle) { %>
              <%= ptitle %> -
            <% } %>
            <%= r.section.title %>
          </a>
          </h4>
          <% if(r.preview) {%>
            <div class="result-preview">
              <%- r.preview %>
            </div>
          <% } %>
        </li>  
      <% } %>
    <% }) %>
  </ul>
<% } else { %>
  <div id="no-results">
    <p>Your search - <strong><%= data.q %></strong> - did not match any documents.<p>

    <strong>Suggestions:</strong>

    <ul>
      <li>Make sure all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
      <li>Try fewer keywords.</li>
    </ul>
      
  </div>
<% } %>